@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.articles {
  background-color: $fourth-color;
  overflow: hidden;
  width: 100vw;

  &__content {
    max-width: 1440px;
    padding: 126px 70px 150px;
    margin: 0 auto;
  }

  &__title {
    position: relative;
  }

  &__slider {
    margin-top: 96px;
  }
}

.slider {
  width: 1440px;

  &__item {
    width: 420px;
    height: 700px;
    background-color: $third-color;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
  }

  &__img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper {
    padding: 25px 30px;
  }

  &__content {
    position: relative;
  }

  &__title {
    margin: 0 0 19px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.24px;
    color: $second-color
  }

  &__text {
    margin: 0 0 11px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #969AA0;
  }

  &__link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.38px;
    text-transform: capitalize;
    color: $second-color;
    text-decoration: none;
    border-bottom: 2px solid $second-color;

    &:hover {
      color: $main-color;
      border-bottom: 2px solid $second-color;
      transition-duration: 0.7s;
    }
  }

  &__date {
    position: absolute;
    right: 0;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $second-color;
  }
}

.slider__img.img-1 {
  background-image: url(../images/partials/articles/slider-01.png)
}

.slider__img.img-2 {
  background-image: url(../images/partials/articles/slider-02.png)
}

.slider__img.img-3 {
  background-image: url(../images/partials/articles/slider-03.png)
}

.glide__slides {
  justify-content: space-between;
  width: 99%;
}

.glide__arrow {
  background-color: $second-color;
  top: 40%;
}

.glide__arrow--right {
  right: 5rem;
}

.glide__arrow--left {
  left: 5rem;
}

// Breakpoints ============================

@media all and (max-width: 1024px) {
  .slider__item {
    height: 610px;
  }
}

@media all and (max-width: 870px) {
  .slider__item {
    height: fit-content;
  }
}

@media all and (max-width: 768px) {
  .articles__content {
    padding: 126px 20px 150px;
  }
}