.getBook {
  background-color: $second-color;
  overflow: hidden;
  width: 100vw;

  &__content {
    max-width: 1440px;
    padding: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: calc(60% - 20px);
    max-width: 539px;
    padding-right: 20px;
  }

  &__title {
    color: $third-color;
    margin-bottom: 54px;
    text-align: left;
    position: relative;
  }

  &__text {
    margin: 0 0 27px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #B4C7E7;
  }

  &__btn {
    width: 220px;
    color: $third-color;
  }

  &__img {
    width: 40%;

    & img {
      width: 100%;
    }
  }
}

.btn_transparent-dark-bg {
  height: 66px;
  background-color: transparent;
  position: relative;
  display: block;
  padding: 19px 51px 18px;
  text-decoration: none;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.38px;
  color: $third-color;
  outline: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $main-color;
    transition: opacity 0.3s, border 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid $third-color;
    opacity: 0;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

// Breakpoints ============================

@media all and (max-width: 1080px) {
  .getBook__content {
    padding: 70px 50px;
  }
}

@media all and (max-width: 870px) {
  .getBook__content {
    flex-direction: column-reverse;
  }

  .getBook__info {
    width: 100%;
    max-width: 100%;
    padding: 40px 0 0;
  }

  .getBook__img {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .getBook__content {
    padding: 70px 20px;
  }
}

@media all and (max-width: 455px) {
  .getBook__title {
    text-align: center;
  }

  .getBook__text {
    text-align: center;
  }

  .getBook__img {
    width: 100%;
  }

  .getBook__btn {
    margin: 0 auto;
  }
}