.header {
  background-color: $second-color;
  overflow: hidden;
  width: 100vw;

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 22px 70px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 35px;
  }

  &__socpages {
    display: flex;
    flex-grow: 2;
  }

  &-socpages__item {
    width: 45px;
    height: 45px;
    border: 2px solid $third-color;
    background-color: $third-color;
    margin-right: 10px;

    &:hover {
      background-color: transparent;
      border: 2px solid $main-color;
      transition: 1s;

      & svg {
        fill: $main-color;
      }
    }

    & svg {
      fill: #141414;
    }
  }

  &__nav {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  &__list {
    margin: 0;
    max-width: 450px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  &__actions {
    padding-left: 14px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      fill: #000000;
      cursor: pointer;

      &:hover {
        fill: $main-color;
        transition: 0.7s;
      }
    }
  }
}

.facebook {
  padding: 13px 17px;
  display: block;
}

.twitter {
  padding: 13px 15px;
  display: block;
}

.linkedin {
  padding: 13px 15px;
  display: block;
}

.list {

  &__item {
    display: inline-block;

    &_cart,
    &_btn {
      display: none;
    }
  }

  &__link {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.17px;
    color: #F6F8FC;
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    transition: .5s;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #F6F8FC;
      border-bottom: 2px solid #F6F8FC;
      transform: scaleY(2);
      opacity: 0;
      transition: 0.75s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #FFCA42;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }

    &:hover {
      color: $second-color;

      &:before {
        transform: scaleY(1);
        opacity: 1;
      }

      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

/* Hamburger =========================== */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: $main-color;
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 40px;
  height: 4px;
  background-color: $main-color;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger__inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger__inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger__inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger__inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  display: none;
}

/*=======================================*/


.btn_orange {
  height: 66px;
  background-color: $main-color;
  border: 2px solid $main-color;
  width: 222px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  text-decoration: none;
  color: $second-color;
  padding: 19px 52px;
  display: inline-block;

  &:hover {
    cursor: pointer;
    background-color: $second-color;
    border-color: $main-color;
    transition: 1s;
    color: $main-color;
  }
}

// Breakpoints ============================

@media all and (max-width: 1240px) {
  .header__socpages {
    display: none;
  }

  .header__logo {
    flex-grow: 2;
  }
}

@media all and (max-width: 1080px) {
  .header__content {
    padding: 22px 30px;
  }
}

@media all and (max-width: 1024px) {
  .actions__cart {
    display: none;
  }

  .header__actions {
    width: fit-content;
    padding: 0;
  }
}

@media all and (max-width: 954px) {
  .header__list {
    padding: 0 20px;
  }

  .header__btn {
    width: fit-content;

    & a {
      padding: 19px 30px;
    }
  }
}

@media all and (max-width: 835px) {
  .list__link {
    padding: 10px;
  }
}

@media all and (max-width: 768px) {
  .header__nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: $second-color;
    top: 110px;
    left: 0;
    padding: 0 30px 35px;
    animation: open 0.8s forwards;
    z-index: 3;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .is-closed {
    opacity: 0;
    display: none;
  }

  .header__list {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .list__item {
    padding: 10px;
  }

  .list__item_btn .btn_orange {
    margin-top: 30px;
  }

  .list__item_cart {
    display: block;

    & svg {
      fill: #000000;
      cursor: pointer;

      &:hover {
        fill: $main-color;
        transition: 0.7s;
      }
    }
  }

  .list__link {
    margin: 0;
  }

  .hamburger {
    display: inline-block;
  }
}

@media all and (max-width: 560px) {
  .header__btn {
    display: none;
  }

  .list__item_btn {
    display: block;
  }

  .header__nav {
    top: 99.4px;
  }
}

@media all and (max-width: 375px) {
  .header__content {
    padding: 22px 20px;
  }
}