.modal {
  height: fit-content;
  overflow: hidden;
  background-color: $second-color;
  position: fixed;
  top: 40%;
  right: -100%;
  z-index: 10;
  opacity: 0;
  font-family: $primary-font;
  color: $third-color;

  &__wrapper {
    padding: 20px 40px 40px;
    text-align: center;
  }

  &__cross {
    left: 50%;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__btn {
    width: 220px;
    margin: 0 auto;
    
    & a {
      font-family: $primary-font;
      color: $third-color;
      text-decoration: none;
    }
  }
}

@keyframes animShowModal {
  
  50% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 0.98;
    width: 420px;
    right: 0;
  }
}

.showModal {
  animation: animShowModal 0.7s linear forwards;
}

// Breakpoints ========================

@media all and (max-width: 630px) {
  .modal {
    &__btn {
      width: 100%;
      left: 0;
      right: 0;
    }
  }

  @keyframes animShowModal {
  
      50% {
        opacity: 0;
        width: 0;
      }
  
      100% {
        opacity: 0.98;
        width: 90%;
        right: 0;
      }
  }
  
}