.dark-background {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.orderForm {
  background-color: $second-color;
  overflow: hidden;
  opacity: 0;
  height: fit-content;
  position: fixed;
  top: 10%;
  left: -100%;
  z-index: 12;
  color: $third-color;

  &__wrapper {
    margin: 20px;
    border: 2px solid $third-color;
  }

  &__cross {
    left: 90%;
    top: 20px;
  }

  &__title {
    margin: 50px 0;
    padding: 0 10px;
    text-align: center;
    font-family: $primary-font;
  }

  &__form {
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 20px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    color: $main-color;
  }

  &__input {
    margin-top: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $third-color;
    color: $third-color;
    outline: none;
  }

  &__btn {
    font-size: 20px;
    margin: 20px auto 0;
    width: 220px;
    color: $third-color;

    &:hover {
      color: $main-color;
    }
  }
}

.cross {
  display: inline-block;
  position: relative;
  color: $main-color;
  
    &:hover {
      cursor: pointer;
      color: $third-color;
      transition: 0.7s;
    }
}

@keyframes animShowForm {
  
  50% {
    opacity: 0;
    width: 0;
  }

  100% {
    left: calc(50% - 210px);
    opacity: 0.98;
    width: 420px;
  }
}

.showForm {
  animation: animShowForm 0.7s linear forwards;
  
}

.showDarkBackground {
  display: block;
}

// Breakpoints ======================

@media all and (max-width: 900px) {
  .orderForm {
    &__title {
      margin: 30px 0 20px;
    }

    .orderForm__form {
      margin-bottom: 20px;
    }

    &__item {
      padding: 10px;
    }
  }

  @keyframes animShowForm {

    50% {
      opacity: 0;
      width: 0;
    }

    100% {
      left: calc(50% - 210px);
      opacity: 0.98;
      width: 70%;
    }
  }
}

@media all and (max-width: 425px) {

  @keyframes animShowForm {
    50% {
      opacity: 0;
      width: 0;
    }

    100% {
      opacity: 0.9;
      width: 90%;
      left: 0;
    }
  }
}
