.welcome {
  margin-top: -1px;
  background-color: $second-color;
  background-size: cover;

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 93px;
    display: flex;
  }

  &__info {
    width: 50%;
    padding: 147px 20px 0 0;
  }

  &__actions {
    margin: 0 0 47px;
    display: flex;
    max-width: 425px;
    justify-content: space-between;
    align-items: center;
  }

  &__properties {
    display: flex;
    max-width: 503px;
    justify-content: space-between;
  }

  &__img {
    width: 50%;

    & img {
      width: 100%;
    }
  }

  &__btn:last-child {
    margin-left: 51px;
  }
}

.info {
  &__subtitle {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: $third-color;
    margin: 0 0 10px;
  }

  &__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 1.3px;
    color: $third-color;
    margin: 0 0 24px;
  }

  &__text {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $fourth-color;
    margin: 0 0 42px;
    max-width: 562px;
  }
}

.line::before {
  @include colorElement;
  width: 35px;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 14px;
}

.properties {
  &__title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.48px;
    margin: 0 0 12px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    color: $third-color;
  }

  &__text {
    margin: 0 26px 0;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: $fourth-color
  }
}

.ball::before {
  @include colorElement;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 10px;
}

.btn_transparent-underline {
  border-bottom: 1px solid $third-color;

  &:hover {
    border-bottom: 1px solid $main-color;
    transition: 1s;

    & a {
      color: $main-color;
      transition: 1s;
    }
  }

  & a {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.38px;
    text-transform: capitalize;
    color: $third-color;
    text-decoration: none;
  }
}

// Breakpoints ============================

@media all and (max-width: 1300px) {
  .welcome__info {
    padding-top: 88px;
  }
}

@media all and (max-width: 1249px) {
  .welcome__info {
    padding-top: 0;
    width: 72%;
  }
}

@media all and (max-width: 1080px) {
  .welcome__content {
    padding: 100px 30px;
  }
}

@media all and (max-width: 1090px) {
  .welcome__info {
    width: 80%;
  }
}

@media all and (max-width: 885px) {
  .welcome__content {
    display: block;
  }

  .welcome__info {
    width: 100%;
    padding: 0;
  }

  .info__text {
    max-width: 100%;
  }

  .welcome__properties {
    max-width: 100%;
  }

  .welcome__img {
    display: none;
  }
}

@media all and (max-width: 560px) {
  .welcome__info {
    text-align: center;
  }

  .info__title {
    font-size: 44px;
    line-height: 53px;
  }

  .welcome__btn {

    &:first-of-type a {
      padding: 19px 30px;
    }
  }

  .welcome__actions {
    margin: 0 auto 50px;
  }

  .welcome__btn:last-child {
    width: 177px;
  }


  .welcome__properties {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 0 20px;
  }

  .properties {
    &__item {
      padding-bottom: 20px;
    }

    &__title {
      display: inline-block;
    }

    &__text {
      display: inline-block;
      margin: 0 0 0 20px;
    }
  }
}

@media all and (max-width: 455px) {
  .welcome__actions {
    display: block;
  }

  .welcome__properties {
    margin: 0;
  }

  .welcome__btn:last-child {
    margin: 40px auto;
  }

  .welcome__btn {
    margin: 0 auto;
    width: 100%;

    &:last-child {
      width: 100%;
    }
  }
}

@media all and (max-width: 375px) {
  .welcome__content {
    padding: 100px 20px;
  }
}